 #                                                          # Assignment 4 - 3rd Feb

### Kundan Kumar

##### Q1. Which keyword is used to create a function? Create a function to return the list of odd numbers in the range of 1 to 25.

def keyword is used to create a function.

In [1]:
def odd():
    for i in range(1,26):
        if (i%2==1):
            print(i)

In [2]:
odd()

1
3
5
7
9
11
13
15
17
19
21
23
25

##### Q2. Why *args and  **kwargs are used in some functions? Create a function each for *args and **kwargs to demonstrate its use.

*args is used to input any number of arguments into a function.  
While **kwargs is used to input the arguments in the form of key-value pair in the function.

In [4]:
def add(*num):
    total=0
    for i in num:
        total = total + i
    return total

In [5]:
print(add(2,3))

5

In [6]:
print(add(2,5,7,8))

22

In [7]:
print(add(92,57,10,45,29,16,22,90))

361

In [14]:
# addition using the kwargs
def addition(**num):
    sum=0
    for i in num.values():
        sum = sum+ i 
    return sum

In [16]:
print(addition(a=2, b=3))

5

In [17]:
print(addition(a=67,b=98,c=199))

364

##### Q3. What is an iterator in python? Name the method used to initialize the iterator object and the method used for iteration. USe these methods to print the first five elements of the given list.[2,4,6,8,10,12,14,16,18,20]

An iterator is an object that contains specific number of values which can be iterated upon.

In [34]:
l=[2,4,6,8,10,12,14,16,18,20]
l4=iter(l)

In [35]:
type(l4)

list_iterator

In [36]:
for i in range(0,20,2):
    print(next(l4))

2
4
6
8
10
12
14
16
18
20

##### Q4. What is a generator function in python? Why yield keyword is used? Give an example of generator function.

Generator functions helps you to declare a function that acts like an iterator.  
Yield keyword is used to return the valuein generator function.

In [10]:
# generator function for table of 3
def table_generator():
    n=3
    for i in range(10):
        n=3*(i+1)
        yield n

In [4]:
table_generator()

In [11]:
list(table_generator())

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

##### Q5. Create a generator function for prime numbers less than 1000. USe the next() method to print the first 20 numbers.

In [3]:
def prime_generator(n):
    for i in range(n):
        k=0
        for j in range(2,i):
            if (i%j==0):
                break
            k=k+1
            if (k==i-2):
                yield i

In [4]:
for k in prime_generator(1000):
    print(k)

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [22]:
# First 20 prime numbers using next() keyword
l=iter(prime_generator(1000))
for i in range(20):
    print(next(l))

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73

##### Q6. Write a python program to print the first 10 Fibonacci numbers using a while loop.

In [27]:
i=0
a=0
b=1
while i<10:
    print(a)
    a,b=b,a+b
    i=i+1

0
1
1
2
3
5
8
13
21
34

##### Q7. Write a list comprehension to iterate through the given string: 'pwskills'.

In [29]:
l='pwskills'
[i for i in l]

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

##### Q8. Write a python program to check whether a given number is Palindrome or not while using a while loop.

In [43]:
# Using basic string manipulation
num = int(input("Enter a Number: "))
num_change=str(num)
if (num_change[::1]==num_change[::-1]):
    print("The given number is a Palindrome")
else:
    print("The given number is NOT a Palindrome")

Enter a Number:  16461

The given number is a Palindrome

In [57]:
# Using While loop
num = int(input("Enter a Number: "))
num_change=str(num)
i=0
j=0
while (i< int(len(num_change)/2)):
    if(num_change[i]==num_change[len(num_change)-i-1]):
        j=j+1
    i=i+1

if j==len(num_change)/2 or j==(len(num_change)-1)/2 :
    print("The given number is Palindrome")
else:
    print("The given number is not Palindrome")

Enter a Number:  7449447

The given number is Palindrome

##### Q9. Write a code to print odd numbers from 1 to 100 using list comprehension.

In [40]:
#list comprehension to print numbers 1 to 100.
[i for i in range(1,101)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [42]:
#list comprehension to print odd numbers between 1 to 100
[i+1 for i in range(100) if (i+1)%2==1]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]